:root {
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
}

html {
    font-size: 18px;
}

body {
    font-size: 1rem;
    margin-top: 3rem;
    background: rgb(47, 47, 47);
    font-family: 'DM Sans', sans-serif;
    @media only screen and (min-width: 768px) {
        background: var(--cream);
    }
}

.text-center {
    text-align: center;
}

.mx {
    margin: 0 auto;
}

.my {
    margin: auto 0;
}